*{ /* todos los elementos */
  font-family: sans-serif;
}
/* Regla de CSS */
/* Cascading style sheets */
h1{
  color: blue;
  color: #FFFFFF; /* 2 -> rojo, 2-> verde */
  color: #666;
  color: rgb(100, 0, 255);
  color: rgba(100, 0, 255, 0.8);
}

#nombre{
  font-style: italic;
  color: magenta;
}

.cosas_azules{
  color: lightblue;
}

.grande{
  font-size: 3em;
  font-weight: 900;
}
/* Selectores simples */

#nombre:hover{
  color: limegreen;
}

a:visited{
  color: black;
}

li:first-child{
  text-decoration:line-through;
}

/* */
li:after{
  content: "*";
}
li:before{
  content: "+";
}

/* Selectores compuestos // descendiente, hijo, sibling, combinacion de selectores simples */

/* pseduselectores de CSS */
.importante{
  color: green;
}

#descripcion .importante{
  color: blue;
}
#descripcion > .importante { }
#decripcion + .importante { }

h1 + h2 {
  font-weight: 100;
  text-decoration: underline;
}

p, a, li {
  font-family: monospace;
  font-family: monospace;
  font-family: monospace;
  font-family: monospace;
}
